---
name: Continuous Integration

on:
  push:
  pull_request:

jobs:
  verify:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macos-15
          - windows-2022
        node:
          - 18
          - 20

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      CI: 'true'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - run: make install
      - run: make compile

      - run: make lint
      - run: make test
